@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');

/* This is a comment */
/* CSS Syntax:
selector {
property: value;
property: value;

}
*/
/* Type Selector - select elements using tag name */
p {/*selects all <p> */
font-size: 16px;
line-height: 1.5em;
}
figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;
  font: normal 1em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: left
}

/* Class selector */
.milk-text { /* selects elements with a class="milk-text"}*/
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000

}

  /* ID selectors */
#logo {
  background: aqua;
}
#logo h1 { /*will only style h1s if they're inside the id="logo" */
  font-family: 'Clicker Script', cursive;
}
#logo h2 {
  font-family: 'Elsie Swatch Caps', cursive;
}

/* Pseudo Selector */

}
#details a:link, #details a:visited {
  color: blue;
  text-decoration: none;
}
#details a:hover {
  color: black;
  text-decoration: underline;
}
#details a:visited {
  color: red;
  text-decoration: none;
}
